/*
  © Copyright 2023-2023 E Reynolds, Inc. All rights reserved.

  This program is confidential and proprietary to E Reynolds, and
    may not be copied, reproduced, modified, disclosed to others, published or used,
    in whole or in part, without express prior written permission.
*/


$standardTextureImage: url("https://www.transparenttextures.com/patterns/rough-cloth-light.png");

$standardFontFamily: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;


/** Primary colors. */
$brandBlack: #000000;
$brandWhite: #ffffff;

$brandRed: #EC1C24; // Error/Alert
$brandAmber: #FFC012; // Warning
$brandGreen: #00B259; // OK/Normal/Success

$brandBlue: #0039C1;
$brandLightBlue: #00ADEF;
$brandLightBlue30Percent: #b3e7fa;

$brandGrey: #777777;
$brandDarkGrey: #333333;
$brandMidGrey: #555555;
$brandLightGrey: #CCCCCC;


/** Secondary colors. */
$brandIndigo: #272BA7;
$brandOrange: #ff8000;
$brandViolet: #6A1499;
$brandTeal: #00A9B4;
$brandPlum: #BC1A8C;
$brandLightGreen: #BDE12A;
$brandPink: #FF008F;


/** Borders. */
$standardBorder: 2px solid $brandDarkGrey;
$lightBorder: 1px solid $brandDarkGrey;
$heavyBorder: 5px solid $brandDarkGrey;


/** Border radius. */
$standardBorderRadius: 0.5rem;
$lightBorderRadius: 0.2rem;
$heavyBorderRadius: 1rem;


/** Margin */
$standardMargin: 5px;


/** Misc. */
$standardBoxShadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);

$standardGradient: linear-gradient($brandOrange, $brandAmber);
