<!--
  © Copyright 2023-2023 E Reynolds, Inc. All rights reserved.

  This program is confidential and proprietary to E Reynolds, and
    may not be copied, reproduced, modified, disclosed to others, published or used,
    in whole or in part, without the express prior written permission.
-->

<div class="card text-center">

  <!-- Header -->
  <div class="card-header">
    <app-page-header></app-page-header>
  </div>

  <!-- Content -->
  <div class="card-body">
    <div class="card text-center">
      <router-outlet></router-outlet>
    </div>
  </div>

  <!-- Footer -->
  <div class="card-footer">
    <app-page-footer></app-page-footer>
  </div>
</div>
