<!--
  © Copyright 2023-2023 E Reynolds, Inc. All rights reserved.

  This program is confidential and proprietary to E Reynolds, and
    may not be copied, reproduced, modified, disclosed to others, published or used,
    in whole or in part, without express prior written permission.
-->

<div class="card text-center">

  <!-- Header -->
  <div class="card-header">
    <h4> Question {{ index }}
      <span *ngIf="question?.difficulty">
        ( {{ question?.difficulty }} )
      </span>
    </h4>

    <p> {{ question?.statement || '' }} </p>
  </div>

  <!-- Body -->
  <div class="card-body">
    <form #myMultipleChoiceForm="ngForm"
      (submit)="onSubmit(myMultipleChoiceForm.value[uniquePrefix + '_listGroupRadios'])" novalidate>

      <!-- Display div as a row -->
      <div class="row">

        <!-- userAnswerDiv -->
        <div class="col col-md-auto align-items-start userAnswerDiv">
          <div class="list-group">
            <label *ngFor="let option of question?.multiChoiceOptions; let i = index"
              class="list-group-item d-flex gap-2">
              <input ngModel type="radio" class="form-check-input flex-shrink-0"
                [name]="uniquePrefix + '_listGroupRadios'" [id]="uniquePrefix + '_MultipleChoiceOption_' + i"
                [value]="option" [disabled]="answerSubmitted">
              <span> {{ option }} </span>
            </label>
          </div>
        </div>

        <!-- revealButtonDiv -->
        <div *ngIf="!answerSubmitted" class="col-md-auto align-items-start align-top revealButtonDiv">
          <button type="submit" [disabled]="answerSubmitted || myMultipleChoiceForm.form.pristine"
            class="btn btn-sm btn-warning">
            Reveal answer
          </button>
        </div>

        <!-- answerDiv -->
        <div class="col text-start answerDiv">
          <div class="align-items-start align-top" *ngIf="answerSubmitted">
            <p [ngClass]="{
                'answerCorrect': (answerSubmittedResult === QuestionResult.PASS),
                'answerIncorrect': !QuestionResult.INCORRECT
              }">
              {{ (answerSubmittedResult === QuestionResult.CORRECT) ? "CORRECT 😀" : "INCORRECT 🙃" }} </p>
            <p> {{ correctAnswerMessage }} </p>
            <p> {{ question?.answer?.statement || '' }} </p>
          </div>
        </div>

      </div>
    </form>
  </div>


  <!-- Footer -->
  <div class="card-footer">
  </div>

</div>
