<!--
  © Copyright 2023-2023 E Reynolds, Inc. All rights reserved.

  This program is confidential and proprietary to E Reynolds, and
    may not be copied, reproduced, modified, disclosed to others, published or used,
    in whole or in part, without the express prior written permission.
-->
<nav class="navbar">
  <div class="container-fluid">
    <!-- Header div holding the Logo and app title. -->
    <div class="navbar-header">
      <a href="/"><img style="height:3rem" alt="Logo" src="../assets/logo.png" /></a>
      <span class="navbar-brand mb-0 h1">
        <a class="noDecoration" href="/">
          {{ title }}</a>
      </span>
    </div>

    <!-- Div holding the drop=down menu -->
    <div class="nav-item dropdown navbar-right">
      <!-- Drop-down menu button (link). -->
      <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Menu
      </a>
      <!-- Drop-down-menu items. -->
      <ul class="dropdown-menu dropdown-menu-end">
        <li><a class="dropdown-item disabled" href="#">Action 1.</a></li>
        <li><a class="dropdown-item disabled" href="#">Action 2.</a></li>
        <li><a class="dropdown-item disabled" href="#">Action 3.</a></li>
      </ul>
    </div>
  </div>
</nav>
