/*
  © Copyright 2023-2023 E Reynolds, Inc. All rights reserved.

  This program is confidential and proprietary to E Reynolds, and
    may not be copied, reproduced, modified, disclosed to others, published or used,
    in whole or in part, without the express prior written permission.
*/

// ------------------------------------------------------------------------------

/** Primary design colors */
$brandBlack: #000000;
$brandWhite: #ffffff;
$brandLightBlue: #00ADEF;
$brandDarkBlue: #0039C1;
$brandDarkGrey: #333333;
$brandMidGrey: #6D6E71;
$brandLightGrey: #CCCCCC;
$brandPageBackground: #FAFAFA;
$brandLightBlue30Percent: #b3e7fa;

/** Secondary Design colors (Graphs) */
$brandIndigo: #272BA7;
$brandOrange: #ff8000;
$brandViolet: #6A1499;
$brandTeal: #00A9B4;
$brandPlum: #BC1A8C;
$brandLightGreen: #BDE12A;
$brandPink: #FF008F;

/** Traffic Light colors */
$brandRed: #EC1C24; // Error/Alert
$brandAmber: #FFC012; // Warning
$brandGreen: #00B259; // OK/Normal/Success

$standardBorder: 2px solid $brandDarkGrey;
$lightBorder: 1px solid $brandDarkGrey;
$heavyBorder: 5px solid $brandDarkGrey;

$standardBorderRadius: 0.5rem;
$lightBorderRadius: 0.2rem;
$heavyBorderRadius: 1rem;

$standardBoxShadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
$standardFontFamily: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

$standardTextureImage: url("https://www.transparenttextures.com/patterns/rough-cloth-light.png");


// ------------------------------------------------------------------------------
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.card {
  margin: 5px;
  border: $standardBorder;
}

.card-header,
.navbar,
.card-footer {
  color: $brandWhite;
  background-image: $standardTextureImage;
  font-family: $standardFontFamily;
  box-shadow: $standardBoxShadow;
}

// Removes decoration and default blue font color from hyperlinks.
a.noDecoration {
  text-decoration: none;
  color: inherit;
}

.card-body {
  background-color: $brandPageBackground;
}

.navbar {
  border: $lightBorder;
  border-radius: $standardBorderRadius;
  box-shadow: $standardBoxShadow;
}
