/*
  © Copyright 2023-2023 E Reynolds, Inc. All rights reserved.

  This program is confidential and proprietary to E Reynolds, and
    may not be copied, reproduced, modified, disclosed to others, published or used,
    in whole or in part, without the express prior written permission.
*/

// ------------------------------------------------------------------------------
@import './app/scss/brand.scss';

// ------------------------------------------------------------------------------
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.card {
  margin: $standardMargin;
  border: $standardBorder;
}

// Removes decoration and default blue font color from hyperlinks.
a.noDecoration {
  text-decoration: none;
  color: inherit;
}

.dropdown-menu {
  font-size: smaller;
}

.gradientTop {
  background-image: linear-gradient(to top, $brandAmber, $brandOrange);
}

.gradientBottom {
  background-image: linear-gradient(to bottom, $brandAmber, $brandOrange);
}

.gradientRight {
  background-image: linear-gradient(to right, $brandAmber, $brandOrange);
}

.gradientLeft {
  background-image: linear-gradient(to left, $brandAmber, $brandOrange);
}

.card-header,
.card-footer {
  background-image: $standardTextureImage;
  box-shadow: $standardBoxShadow;
}


body,
.card,
.card-body,
.card-footer,
.card-header,
.dropdown-menu,
.list-group-item,
.form-check-input {
  background-color: $brandPageBackground;
  font-family: $standardFontFamily;
}


// ------------------------------------------------------------------------------
// Load overrides for users with dark theme.
// This must go last so it overrides anything from above.

@media (prefers-color-scheme: dark) {
  @import './app/scss/dark.scss';
}

